<form>
	<legend>Established Timeline</legend>

	<button type="submit" id="finish">Finish</button>
	<button type="submit" id="assign">Assign</button>

	<label for="assigned">Followers:</label>
	<ul class="followers">
		<li>No Followers</li>
		<li><a href="#">Add</a>
	</ul>

	<label for="assigned">Assigned to:</label>
	<input type="text" id="assigned" name="assigned" placeholder="Mike Dunseng" required="">

	<label for="start_date">Start date:</label>
	<input type="date" id="start_date" name="start_date" required="">

	<label for="due_date">Due date:</label>
	<input type="date" id="due_date" name="due_date" required="">

	<label for="progress">Progress:</label>
	<progress id="progress" max="1" value="0.4"></progress>

	<label for="project">Project:</label>
	<input type="text" id="project" name="project" placeholder="Ultralight">

	<label for="created_by">Created by:</label>
	<span id="created_by">Mike Dunseng <span>1/1/11</span></span>

	<input style="margin-top:15px;" type="text" id="comment" name="comment" placeholder="Add Comment">
</form>