[submodule "lib/can"]
	path = lib/can
	url = git@github.com:jupiterjs/canjs.git
[submodule "lib/steal"]
	path = lib/steal
	url = git@github.com:jupiterjs/steal.git
[submodule "lib/app/models"]
	path = lib/app/models
	url = git@github.com:cohuman/cohuman_js_models.git
