<% if(this.length) { %>
	<% for(var i=0;i<this.length;i++) { %>
		<% var item = this[i]; %>
		<% if(item.group && (i === 0 || this[i - 1].group !== item.group )) { %>
			<li><button disabled class="group"><%== item.group %></button></li>
		<% } %>
		<li><button data-value="<%== item.name %>"><%== item.name %></button></li>
	<% } %>
<% } else { %>
	<li><button disabled>No items</button></li>
<% } %>