<form id="login" name="login" autocomplete="off">

  <div class="error"></div>

  <fieldset>
    <ul>
      <li>
        <input type="email" class='email' name="name" value="" placeholder="Email" />
      </li>
      <li>
        <input type="password" name="password" class="password" value="" placeholder="Password" />
        <a target='_blank' class="right" href="#">Forgot Password</a>
      </li>
      <li class="buttons">
        <button type="submit" class="btn login-btn">Login</button>
      </li>
    </ul>
  </fieldset>

</form>
